<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Patrick Johnson</h2>
  <h3>PJohnson9</h3>

  <p>This was in the sample code on Ionic's component page so I copied it over:</p>
  <p>
    I saw a werewolf with a Chinese menu in his hand.
    Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
    He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
    Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
    <ion-text color="danger"><ion-icon name="cut"></ion-icon></ion-text>
  </p>

</ion-content>
